<html lang="en">
<head>
  <title>CRUD App</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"/>
</head>
<body>

<div class="card text-center" style="padding:15px;">
  <h4>Update Student Records online using Nodejs</h4>
</div><br> 

<div class="container-fluid">   
  <div class="row">
   <div class="col-sm-4">
     <form action="/insert" method="POST" enctype="multipart/form-data">   
     <h5 class="text-center">Insert Record</h5>
      <div class="row border p-4">  
        <div class="col-sm-5">
           <div class="card">
            <div class="card-body">
              <input type="file" name="image" class="custom-file-input" id="inputGroupFile01"  onchange="document.getElementById('image').src = window.URL.createObjectURL(this.files[0])" aria-describedby="inputGroupFileAddon01">
              <label class="custom-file-label" for="inputGroupFile01">Photo</label>
               <img src=""  class="img-thumbnail" id="image">
            </div>
          </div>
          <p class="mt-3" style="font-size:small;font-weight:600">Upload Answer Sheet</p>
        </div>

        <div class="col-sm-7"> 
            <div class="form-group">
               <input type="text" class="form-control  mb-4" name="name" placeholder="Enter name" required="">
            </div>
             
            <div class="form-group">
               <input type="email" class="form-control  mb-4" name="email" placeholder="Enter email" required="">
            </div>

            <div class="form-group">
               <input type="text" class="form-control mb-4" name="roll" placeholder="Enter Roll No" required="">
            </div>

             {{!-- <input type="file" name="image_file" class="" id="inputGroupFile01"> --}}
          
            <div class="form-group">
               <input type="text" class="form-control mb-4" name="mobile" placeholder="Enter Mobile" required="">
            </div>

           <div class="form-check">
            <input class="form-check-input" type="radio" name="gender" id="exampleRadios1" style="cursor:pointer;" value="male">
              <label class="form-check-label" for="exampleRadios1">
                 Male
              </label>
              <input class="form-check-input ml-4" type="radio" name="gender" id="exampleRadios1" style="cursor:pointer;" value="female">
              <label class="form-check-label ml-5" for="exampleRadios1">
                 Female
              </label>
            </div>
            
            <input type="submit" name="submit" class="btn btn-primary btn-block mt-4" style="float:right;" value="Submit">
           
          </div>
      </div>
       </form>  
  </div>

  <div class="col-sm-8">
    <h4 class="text-center  ml-4  mb-5">View Records</h4>
    <table class="table table-hover table-bordered ml-4 ">
        <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Roll No</th>
            <th>Mobile</th>
            <th>Geneder</th>
            <th>Image</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>

         {{#each records}}
            <tr>
            <td>{{name}}</td>
            <td>{{email}}</td>
            <td>{{roll}}</td>
            <td>{{mobile}}</td>
            <td>{{gender}}</td>
            <td><img src="{{{image_file}}}"  class="img-thumbnail" id="image" height="150" width="75"></td>
            <td><a href="/{{id}}" onclick="return confirm('Are you sure to delete this record ?');" class="fa fa-trash">
                </a>
                <a href="edit/{{id}}" class="fa fa-edit"></a>     
            </td>

            </tr>
            {{/each}}
        </tbody>
    </table>
  </div>
 </div>
</div>

<a href="index.ejs" ><button>sign up</button></a>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

